.task-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
}
.taskCard {
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    border-radius: 12px;
    padding: 1.5rem;
    margin: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s;
    width: 40%;
    gap: 5px;
}

.taskCard:hover {
    transform: translateY(-5px);
}

.taskTitle {
    align-self: center;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.taskDesc {
    font-size: 1rem;
    color: #cfcfcf;
    margin-bottom: 1rem;
}

.taskStatus {
    font-size: 0.9rem;
    font-style: italic;
    color: #999;
}
.taskPriority {
    font-size: 1.1rem;
    margin-top: 0.5rem;
    color: #888;
}