:root {
  --secondary-1: #ffffff;
  --secondary-2: #f7f7f7;
  --secondary-3: #ededed;
  --secondary-4: #dedede;
  --secondary-5: #cccccc;
  --secondary-6: #b3b3b3;
  --secondary-7: #9c9c9c;
  --secondary-8: #707070;
  --secondary-9: #595959;
  --secondary-10: #404040;
  --secondary-11: #2e2e2e;
  --secondary-12: #121212;
  --secondary-13: #000000;
}
